@use '../helpers/functions' as *;
@use '../helpers/globals' as *;
@use '../helpers/mixin' as *;

.blog-actions {
    &__list {
        display: flex;
        column-gap: rem(10);
    }
    &__item {
    }
    &__button {
        display: inline-flex;
        align-items: center;
        column-gap: rem(4);
        background-color: var(--color-dark-10);
        border: rem(1) solid var(--color-dark-15);
        border-radius: rem(100);
        padding-block: rem(8);
        padding-inline: rem(16);
        transition: all 0.2s ease 0s;
        font-family: 'Kumbh Sans', sans-serif;
        line-height: 1;
        @media (any-hover: hover) {
            &:hover {
                background-color: var(--color-dark-15);
            }
        }
        @media (any-hover: none) {
            &:active {
                background-color: var(--color-dark);
            }
        }
        &.is-active {
            svg * {
                fill: var(--color-red);
                stroke: var(--color-red);
            }
        }
        @media (max-width: $laptop) {
            padding-block: rem(6);
            padding-inline: rem(12);
            font-size: rem(14);
            column-gap: rem(2);
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        width: rem(24);
        height: rem(24);
        svg {
            width: 100%;
            height: 100%;
            * {
                transition: all 0.3s ease 0s;
            }
        }

        @media (max-width: $laptop) {
            width: rem(20);
            height: rem(20);
        }
    }
}