@use '../helpers/functions' as *;
@use '../helpers/globals' as *;
@use '../helpers/mixin' as *;

.download {
    &__body {
        display: inline-flex;
        align-items: center;
        column-gap: rem(50);
        padding: rem(30);
        @media (max-width: $laptop) {
            column-gap: rem(30);
        }
    }
    &__title {
        &:not(:last-child) {
            margin-bottom: rem(4);
        }
        @media (max-width: $laptop) {
            &:not(:last-child) {
                margin-bottom: rem(2);
            }
            font-size: rem(14);
        }
    }
    &__subtitle {
        @include adaptiveTextPX(24, 18, $containerWidth, 779.98);
        font-weight: 600;
        color: var(--color-light);
    }
    &__team {
        --personImageSize: #{rem(50)};
        border-radius: rem(12);
        border: 0px;
        background-color: var(--color-dark);
        @media (max-width: $laptop) {
            --personImageSize: #{rem(40)};
        }
    }
}