@use '../helpers/functions' as *;
@use '../helpers/globals' as *;
@use '../helpers/mixin' as *;

.news {
	&__header {
        align-items: center;
		display: flex;
		justify-content: space-between;
		column-gap: rem(20);
		@include adaptiveValuePX('padding-top', 80, 40, $containerWidth, 991.98);
	}
	&__title {
		font-family: 'Kumbh Sans', sans-serif;
		font-size: rem(28);
		font-weight: 500;
		color: #CCCCCC;
		@media (max-width: $laptop) {
			font-size: rem(22);
		};
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
	}
}
.news-hero {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-inline: rem(-15);
        row-gap: rem(30);
        @include adaptiveValuePX('padding-block', 80, 40, $containerWidth, 991.98);
    }
    &__card {
        flex: 0 1 33.333%;
        padding-inline: rem(15);
        @media (max-width: em(1100)) {
            flex: 0 1 50%;
            &:last-child {
                flex: 0 1 100%;
            }
        }
        @media (max-width: $mobile) {
            flex: 0 1 100%;
        }
    }
}
