@use '../helpers/functions' as *;
@use '../helpers/globals' as *;
@use '../helpers/mixin' as *;

.bottom-resources {

		&__card {
		}
}
.resources-card {
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: rem(30);
        height: 100%;

        @media (any-hover: hover) {
            &:hover {
                .resources-card__image img {
                    transform: scale(1.1);
                    opacity: 0.8;
                }
            }
        }
        
        @media (any-hover: none) {
            &:active {
                .resources-card__image img {
                    transform: scale(1.1);
                    opacity: 0.8;
                }
            }
        }

        @media (max-width: $mobileSmall) {
            row-gap: rem(20);
        }
    }

    &__image {
        border-radius: rem(16);
        overflow: hidden;
        max-width: 100%;
        max-height: rem(290);

        img {
            transition: opacity 0.3s, transform 0.3s;
            border-radius: rem(16);
            aspect-ratio: 470/290;
            object-fit: cover;
            object-position: center;
        }
    }

    &__body {
        margin-bottom: auto;
    }

    &__title {
        font-weight: 600;
        color: var(--color-light);
        font-size: rem(22);
        line-height: 1.5;
        display: block;
        
        &:not(:last-child) {
            margin-bottom: rem(14);
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--color-accent);
            }
        }
        @media (any-hover: none) {
            &:active {
                color: var(--color-accent);
            }
        }

        @media (max-width: $laptop) {
            font-size: rem(18);
        }

        @media (max-width: $mobile) {
            font-size: rem(16);
        }

        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__description {
        line-height: 1.5;
        @include adaptiveTextPX(18, 14, $containerWidth, 767.98);
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(20);
        row-gap: remn(10);

        @media (max-width: em(1100)) and (min-width: $tablet) {
            grid-template-columns: auto;
        }
    }

    &__link-download {
        background-color: var(--color-dark-10);
    }
}