@use '../helpers/functions' as *;
@use '../helpers/globals' as *;
@use '../helpers/mixin' as *;
@use '../utils' as *;

.tabs {
    &__header {
        border-bottom: rem(1) solid var(--color-dark-15);
    }
    &__buttons {
        @include adaptiveValuePX('padding-block', 50, 18, $containerWidth, 767.98);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: rem(20);
        @media (max-width: $laptop) {
            column-gap: rem(14);
        }
        @media (max-width: $tablet) {
            overflow-x: auto;
            grid-template-columns: repeat(6, minmax(rem(160), 1fr));
            margin-right: rem(-16);
        }
    }
    &__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--color-gray-60);
        border: rem(1) solid var(--color-dark-15);
        border-radius: rem(8);
        background-color: var(--color-dark);
        @include adaptiveTextPX(18, 14, $containerWidth, 1440);
        @include adaptiveValuePX('padding-block', 30, 18, $containerWidth, 767.98);
        padding-inline: rem(10);
        @media (any-hover: hover) {
            &:hover {
                background-color: var(--color-dark-10);
                border: rem(1) solid var(--color-accent);
                color: var(--color-accent);
            }
        }
        @media (any-hover: none) {
            &:active {
                background-color: var(--color-dark-10);
                border: rem(1) solid var(--color-accent);
                color: var(--color-accent);
            }
        }
        &.is-active {
            background-color: var(--color-dark-10);
            color: var(--color-light);
            font-weight: 500;
            pointer-events: none;
        }
    }
    &__content {
        &:not(.is-active) {
            display: none;
        }
    }
}